.carousel-inner {
  height: 700px;
}

.carousel-inner .carousel-item img {
  height: 700px;
  object-fit: cover;
}

.carousel-caption h2 {
  color: #e50914;
  font-weight: bold;
  font-size: 30px;
}

.carousel-caption p {
  color: #ffffff;
}

.rowposter {
  display: flex;
  overflow-x: auto;
}

.rowimg {
  max-height: 200px;
  object-fit: contain;
  width: 100%;
  box-sizing: content-box;
  transition: transform 450ms;
  margin-right: 7px;
  cursor: pointer;
}

.rowimg:hover {
  transform: scale(1.08);
}

.largerposter {
  max-height: 600px;
}

.rowposter::-webkit-scrollbar {
  width: 0;
}
